<div class="container">
  <ul class="nav nav-pills">
  <li role="presentation"><%= link_to("Home", root_path) %></li>
  <li role="presentation"><a href="#">Máy tính</a></li>
  <li role="presentation"><a href="#">Điện thoại</a></li>
  <li role="presentation"><a href="#">Máy tính bảng</a></li>
  <li role="presentation"><a href="#">Phụ kiện chính hãng</a></li>
  <li role="presentation"><a href="#">Tin tức</a></li>
</ul>
</div>
